* {
	-webkit-box-sizing: border-box;
  }
  
  body {
	margin: 0px;
	padding: 0;
	width: 245px;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	background: #f7f7f7;
  }
  
  a {
	color: #3079b7;
	text-decoration: none;
  }
  
  h1 {
	color: #ffffff;
	font-size: 21px;
	margin: 0px;
	padding: 0;
	font-weight: normal;
	letter-spacing: 1.1px;
  }
  
  h2 {
	color: #255b64;
	font-size: 17px;
	margin-bottom: 15px;
	margin-left: 10px;
	font-weight: normal;
  }
  
  input {
	margin-left: 14px;
  }

  button {
	width: 100%;
	font-family: 'Londrina Solid', Lato, sans-serif;
	font-size: 19px;
	letter-spacing: 1.1px;
	text-align: center;
	padding: 25px 15px 15px 15px;
	text-align: right;
	outline: none;
	color: #000000;
	border: none;
	cursor: pointer;
  }
  
  #start_button {
	background: #f7f7f7;
  }
  
  header {
	display: flex;
	font-family: 'Londrina Solid', Lato, sans-serif;
	font-size: 17px;
	padding: 5px 15px 10px;
	background-color: #0066ff;
	color: #fff;
	align-items: center;
	z-index: 120000;
	overflow: visible;
	justify-content: space-between;
	height: 60px;
  }
  
  button:active {
	position: relative;
	top: 1px;
  }
